
.desc {
  visibility: visible;
  z-index:2;
  text-align: center;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.75); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    height: 15%;
    padding: 10px; /* Some padding */
}
.container-fluid{
background-color: #e8eefa;
display: flex;
flex-direction: column;
justify-content: space-around;
text-align: center;
}
#reality{
opacity: 100%;
outline: 8px solid #555;
width: 60vh;
height: 60vh;
border-radius: 1%;
}
#pics{
  position: fixed;
  height: 60vh;
  width: 60vh;
}
#slider1{
width: 100%;
}
#sliderContainer{
display: flex;
flex-direction: column;
align-items: center;
}
.instruct{
color: rgb(73, 7, 134);
text-align: center;
font-size: .8em;
}
.realCon{
  padding: 20px;
}
.river{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0vh;
}