 #leftMain{
     font-size: 2.7vh; 
  }
  li{
    margin: 0 0 10px 0;
  }
  #pointer{
    z-index: 0; 
    position: absolute;
    top: 88%; 
    left:-4%;
  }
  #myRange{
    z-index: 15; 
    width: 100%;
  }
  #controls{
    position: absolute;
    top: 65%;
    width: 300%;
    left:50%;
  }
  .instruct{
    color: rgb(73, 7, 134);
    text-align: center;
    font-size:2.5vh;
  }
  .instru{
    margin: 20px;
    padding-top: 20px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ccc;
    
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .switchContainer{
    text-align: center;
    padding: 1px;
    visibility: hidden;
  }
  #point01, #point02, #point03, #point04, #point05, #point06, #point07, #point08{
    visibility: hidden;
  }
  .instru{
    font-size: 2.4vh;
    margin: 10px;
    padding-top: 5px;
}
#pointers{
    overflow: visible;
}

.item1 { grid-area: svg; }

.grid-container {
  display: grid;
  grid-template-areas:
    'svg';
    gap: 1px;
    background-color: #9ea9b1;
    padding: 1px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 1px 0;
}
#rightMain{
  width: 90%
}
#flowingfluid{
  position: fixed;
}
.river{
  position: absolute;
  height: 100%;
  width: 100%;
}
@keyframes lift {
  from {transform: translateY(0px);}
  to {transform: translateY(-20px);}
}