#leftMain{
    font-size: 1.75vh;
    padding: 20px;
  }
#rightMain{
    font-size: large;
  }
  .expand{
    background-color: bisque;
  }
  .expand:hover{
    cursor: pointer;
  }
  .step1,.step2,.step3,.heatEq{
    visibility: hidden;
  }
  .heatEq{
    font-size: large;
  }
  .instru{
    margin: 20px;
  }
  .instruct{
    color: rgb(73, 7, 134);
    text-align: center;
    font-size: 1.1em;
  }
  .slidecontainer{
    /* position: absolute; 
    bottom: 10px;  */
    z-index: 20; 
    /* width: 100%;  */
}
.slider{
    z-index: 20; 
    width: 100%;
}
.rangeIn{
  width: 40%; vertical-align: middle;
}
.card{
  font-size: 1.9vh;
  margin: 1vh;
}
.params{
  position: fixed;
  margin: 10px;
}