#leftMain{
    font-size: 2.45vh;
    padding: 20px;
  }
#rightMain{
    font-size: large;
    width: 90%;
  }
  .expand{
    background-color: bisque;
  }
  .expand:hover{
    cursor: pointer;
  }
  .step1,.step2,.step3,.heatEq{
    visibility: hidden;
  }
  .heatEq{
    font-size: large;
    background-color: bisque;
  }
  .instru{
    margin: 20px;
  }
  .instruct{
    color: rgb(73, 7, 134);
    text-align: center;
    font-size: 1.1em;
  }
  .slidecontainer{
    /* position: absolute; 
    bottom: 10px;  */
    z-index: 20; 
    /* width: 100%;  */
}
.slider{
    z-index: 20; 
    width: 100%;
}
.rangeIn{
  width: 40%; vertical-align: middle;
}
.card{
  font-size: 1.9vh;
  margin: 1vh;
}

.item1 { grid-area: svg }

.grid-container {
  display: grid;
  grid-template-areas:
    'svg';
    gap: 1px;
    background-color: #9ea9b1;
    padding: 1px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 15px 0;
}
@keyframes forceMoveLeft {
  from {transform: translateX(0px);}
  to {transform: translateX(10px);}
}

@keyframes forceMoveRight {
  from {transform: translateX(0px);}
  to {transform: translateX(-10px);}
}
@keyframes blink {
  0% {opacity: 100%;}
  50% {opacity: 25%;}
  100% {opacity: 100%;}
}