#leftMain{
    font-size: 2.7vh; 
 }
 li{
   margin: 0 0 10px 0;
 }
 #pointer{
   z-index: 0; 
   position: absolute;
   top: 88%; 
   left:-4%;
 }
 #myRange{
   z-index: 15; 
   width: 100%;
 }
 #controls{
   position: absolute;
   top: 65%;
   width: 300%;
   left:50%;
 }
 .instruct{
   color: rgb(73, 7, 134);
   text-align: center;
   font-size:2.5vh;
 }
 .instru{
   margin: 20px;
   padding-top: 20px;
 }
 
 .switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
 }
 
 .switch input { 
   opacity: 0;
   width: 0;
   height: 0;
 }
 
 #point01, #point02, #point03, #point04, #point05{
   visibility: hidden;
 }
 .instru{
   font-size: 2.4vh;
   margin: 10px;
   padding-top: 5px;
}
#pointers{
   overflow: visible;
}

.item1 { grid-area: inc; }
.item2 { grid-area: vmap; }
.item3 {grid-area: visc}
.item4 {grid-area: svg}

.grid-container {
 display: grid;
 grid-template-areas:
   'inc  vmap visc'
   'svg svg svg';
   gap: 1px;
   background-color: #9ea9b1;
   padding: 1px;
}

.grid-container > div {
 background-color: rgba(255, 255, 255, 0.8);
 text-align: center;
 padding: 1px 0;
}
.item1:hover,.item2:hover,.item3:hover{
    cursor: pointer;
    background-color: bisque;
}
#rightMain{
  width: 90%
}