.col-md-7{
    position: relative;
}
.col-md-5{
    font-size: 1.2em;
    background-color: aliceblue;
}
.slidecontainer{
    position: absolute; 
    bottom: 10px; 
    z-index: 20; 
    width: 100%; 
    padding-top: 27px;
}
.slider{
    z-index: 20; 
    width: 40%;
}

.instruct{
    color: rgb(73, 7, 134);
    text-align: center;
  }
.switches{
    margin: 50px;
}
.column{
    padding: 10px;
}
.row .column .switch{
    font-size: 2.5vh;
    text-align: center;
      background: rgb(0, 0, 0);
      background: rgba(99, 100, 116, 0.75);
      color: #f1f1f1; /* Grey text */
      padding: 8px; /* Some padding */
      box-shadow: 0px 0px 8px -1px black;
}
.switch:hover{
    cursor: pointer;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }
  
  th:nth-child(even),td:nth-child(even) {
    background-color: #D6EEEE;
  }
  table{
      width: 90%;
      margin-top: 25px;
  }
  #csBt{
      width: 20%;
  }
/* #leftMain{
    font-size: 1vh;
} */
.params{
    position: fixed;
    margin: 10px;
}
#why{
    background-color: antiquewhite;
    font-size: 2.2vh;
    border: solid black;
    padding: 2px;
}
#why:hover{
    cursor: pointer;
}
#moreSteps2{
    visibility: hidden;
    font-size: 2vh;
    padding: 10px;
    height: 25vh;
    width: 50vw;
}
.item1 { grid-area: svg }

.grid-container {
  display: grid;
  grid-template-areas:
    'svg';
    gap: 1px;
    background-color: #9ea9b1;
    padding: 1px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 15px 0;
}

#rightMain{
    width: 90%
  }
#steps{
    text-align: center;
    padding: auto;
    font-size: 4.3vh;
}
#steps_force1{
    text-align: center;
}

  @keyframes forceMoveLeft {
    from {transform: translateX(0px);}
    to {transform: translateX(10px);}
  }

  @keyframes forceMoveRight {
    from {transform: translateX(0px);}
    to {transform: translateX(-10px);}
  }

.ke1,.ke3,.pe1,.pe3{
    background-color: beige;
    border: #9ea9b1 solid;
}
.ke1:hover,.ke3:hover,.pe1:hover,.pe3:hover{
    cursor: pointer;
}
#forceder{
    font-size: 3.6vh;
}
.mainList{
    margin: 3.2vh 0 0 0;
}
.subList{
    margin: 0 5px 5px 0;
}